.imlarge
  // img
  //     transition transform var(--duration) ease

  // &.grow
  //     img
  //         position fixed
  //         // top var(--img-top)
  //         // left var(--img-left)
  //         // transform translate(var(--grow-shift-x), var(--grow-shift-y)) scale(var(--grow-scale))

  &__close-button
    --button-width calc(1rem + 6vmin)
    display none
    position fixed
    left: calc(50% - calc(var(--button-width) / 2))
    width var(--button-width)
    padding calc(var(--button-width) / 4)
    border calc(1px + (var(--button-width) / 16)) solid black
    box-shadow calc(var(--button-width) / 12) calc(var(--button-width) / 12) 0 black
    transition opacity var(--duration) linear
    opacity 0

  &__click-plate
    position fixed
    top 0
    right 0
    bottom 0
    left 0

